<!DOCTYPE html>
<html>
  <head>
    <title>ThisCable</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_include_tag "https://kit.fontawesome.com/e61cc7a72b.js", crossorigin: "anonymous", SameSite: "None" %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
